{{ template "start" }}
	<div class="row">
		<div class="large-3 columns">
			<h3>My New Blog</h3>
		</div>
	</div>

	<div class="row">
		<div class="large-6 columns">
			<p>
				This is an example web application built using Leyra. It's just
				a small blog-like application which supports using a database,
				templates, sessions etc...
			</p>

			<p>
				You must <a href="/login">login</a> to create a new post. If you
				don't already have an account you can
				<a href="/register">register</a> a new one.
			</p>

			{{ if .Auth }}
				<p>
					<a href="/new">Create a new post</a>
				</p>
			{{ end }}
		</div>
	</div>

	{{ range $v := .Posts}}
		<div class="row">
			<div class="large-6 columns">
				<h4><a href="/post/{{ $v.ID }}">{{ $v.Title }}</h4>
			</div>
		</div>
	{{ end }}

{{ template "end" }}
